1. Write a Python program function that inputs a number and prints the multiplication
table of that

In [9]:
num=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

Enter the number to print the tables for:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

2. Write a Python function to find the maximum and minimum of three numbers.

In [11]:
max([3,4,5])

5

In [12]:
min([4,5,6])

4

3.Write a function that takes in a list of floats and returns True if the list contains
duplicates and False if the list does not contain duplicates

4. Write a LAMBDA function that takes in a list of floats and returns True if the list
contains duplicates and False if the list does not contain duplicates

6. Generate a random list of 10 integers between 1 and 100, then print the minimum and
maximum values.

In [13]:
my_list = [60,80,94,98]
max_value = max(my_list)
min_value = min(my_list)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 98
Minimum value: 60

7. Use argument (*args) to get the table of 8:

In [14]:
n = int(input())
print(n, "x 1 =", n*1)
print(n, "x 2 =", n*2)
print(n, "x 3 =", n*3)
print(n, "x 4 =", n*4 )
print(n, "x 5 =", n*5 )
print(n, "x 6 =", n*6)
print(n, "x 7 =", n*7)
print(n, "x 8 =", n*8)
print(n, "x 9 =", n*9)
print(n, "x 10 =", n*10 )

8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80